@{
    ViewData["Title"] = "О программе";
    ViewData["pth"]=@"<a href='/'>Главная</a> &bull; О программе";
}
<div class="pos">
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Описание будет добавлено позже.</p>
</div>

<style>
.pos{
        margin: 50px 100px;
    }
    
    </style>