@{
    ViewData["Title"] = "Контакты";
    ViewData["pth"]=@"<a href='/'>Главная</a> &bull; Контакты";
}

<div class="pos">

<h3>@ViewData["Message"]</h3>
<br/>

<address>
    АДРЕС ФЕДЕРАЛЬНОГО ФОНДА ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ:<br />
127994, ГСП-4, МОСКВА, УЛ. НОВОСЛОБОДСКАЯ, 37, КОРП. 4А<br />
Телефон: (495) 987-03-80 
   


</address>

</div>
@*
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
*@

<style>
.pos{
        margin: 50px 100px;
    }
</style>
